h1 {
    color: orange;
    text-decoration: underline;
}

.intro {
    font-size: xx-large;
    font-weight: bolder;
}

.strong {
    color: purple;
}

.mountain {
    display: inline-block;
    width: 50%;
    /* border: solid black 5px; */
}

.beauty, .mountain_text {
    position: relative;
    left: 10px;
}

.mountain img {
    float: left;
}


footer {
    text-align: right;
    color: purple;
    font-weight: bold;
    text-decoration: underline 3px;
    clear: both;
}