h1 {
    color: orange;
    text-decoration: underline;
}

.intro {
    font-size: xx-large;
    font-weight: bolder;
}

strong {
    color: purple;
}

.mountain {
    display: inline-block;
    width: 40%;
    text-align: left;
}

.beauty, .mountain_text, h2, .construction_text {
    position: relative;
    left: 10px;
}

.mountain img, .construction img {
    float: left;
}

.construction {
    display: inline-block;
    width: 40%;
    text-align: right;
}

footer {
    text-align: right;
    color: purple;
    font-weight: bold;
    text-decoration: underline 3px;
    clear: both;
}