.strong {
    color: purple;
}

.mountain img {
    float: left;
}

.construction img {
    float: right;
}

.bee img {
    float: left;
}

footer {
    text-align: right;
    color: purple;
    font-weight: bold;
    clear: both;
}